<body>
    <h1>Good Driver Incentive Program</h1>

    <p style="font-size:30px">Log in</p>

    <div >
        <input style="font-size:30px" name="email" type="email" id="inputEmail"  placeholder="Email address" required autofocus>
    </div>
    
    <div>
        <input style="font-size:30px" name="password" type="password" id="inputPassword"  placeholder="Password" required>
    </div>
    <br>
    <div><a href="reset.html">Forgot password?</a></div>
    <br>

    <div>
        <button style="font-size:20px"  type="submit">Sign in</button>
    </div>
</body>
<router-outlet></router-outlet>